# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test cache
.cache/
nosetests.xml
coverage.xml
.coverage
*.cover
.hypothesis/
.tox/
.ruff_cache/
junit.xml

# MyPy / Pyright / other tooling
.mypy_cache/
.pytest_cache/
.pyrightcache/

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Shell history (if using in repo accidentally)
.bash_history
.zsh_history
